body{
    background-color: grey;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    max-width: 100%;
    
}

.p1{
    
    font-size: 100px;
    color: aliceblue;
}

.p2{
    font-size: 40px;
    color: aliceblue;
}

p{
    color: aliceblue;
    
}


   
